<mat-card style="margin: 10px 200px; padding: 50px">
  <mat-card-title>Оберіть свій маршрут визначними місцями Києва</mat-card-title>
  <div style="display: flex; justify-content: space-around">
    <div>
      <ngx-graph
        [view]="[1000, 600]"
        [nodes]="nodes"
        [links]="edges"
        [autoCenter]="true"
        [enableZoom]="false"
        layout="colaForceDirected"
        xmlns:svg="http://java.sun.com/JSP/Page">
        <ng-template #nodeTemplate let-node>
          <svg:g class="node">
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
            </svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
    <div>
      <div style="margin-bottom: 20px">
        <mat-form-field appearance="fill" style="width: 300px !important;">
          <mat-label>Оберіть пункт відправлення</mat-label>
          <mat-select [(ngModel)]="origin">
            <mat-option *ngFor="let node of this.nodes" [value]="node.id">{{ node.id }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" style="width: 300px !important;">
        <mat-label>Оберіть пункт призначення</mat-label>
        <mat-select [(ngModel)]="destination">
          <mat-option *ngFor="let node of this.nodes" [value]="node.id">{{ node.id }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSearchClick()">Пошук</button>
    </div>
  </div>

</mat-card>

<mat-card style="margin: 10px 200px;" *ngFor="let result of results; let i = index">
  <mat-card-title style="line-height: 150%">Маршрут {{i + 1}}: {{result.path.join(' - ')}}</mat-card-title>
  <h1>Відстань: {{ result.cost | number : '1.2-2' }}</h1>

  <ngx-graph
    [view]="[1000, 600]"
    [nodes]="nodes"
    [links]="edges"
    [autoCenter]="true"
    [enableZoom]="false"
    layout="colaForceDirected"
    xmlns:svg="http://java.sun.com/JSP/Page">
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="result.path.includes(node.id) ? 'red' : 'grey'" />
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path
          class="line"
          stroke-width="2"
          marker-end="url(#arrow)"
          [attr.stroke]="
          result.path.includes(link.source) && result.path.includes(link.target) &&
          ((result.path.indexOf(link.target) - result.path.indexOf(link.source) === 1) ||
            (result.path.indexOf(link.target) - result.path.indexOf(link.source) === -1)
          )
          ? 'red' : 'grey'"
        >
        </svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</mat-card>
